.newServiceForm {
    background: #d6d6d6;
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    padding-bottom: 20px;
    font-family: 'Blinker', serif;
    z-index: 10;
    top: 0;
    left: 0;
}

.closeIcon {
    font-size: 1.1rem;
}

.closeIcon:hover {
    color: #fff;
}

.error {
    color: #f00;
}

.select {
    display: block;
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    background: #fff;
    padding: 5px;
    width: 100%;
}

.km {
    line-height: 100%;
    align-items: center;
    padding-top: 18px;
}

