.h80 {
    height: 80vh;
}

.h20 {
    height: 20vh;
}

.wrapper {
    width: 100vw;
    position: fixed;
    z-index: -1;
}

.mainContainer {
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
}