.loginForm {
    background-color: transparent;
    margin: 0 1rem 1rem;
}

.invalid {
    color: red;
    margin-bottom: 0;
    padding-bottom: 0;
}

.invalidCred {
    margin-bottom: 7px;
}

@media(min-width: 720px) {
    .checkbox input{
        transform: scale(1.3);
        margin-top: 12px;
    }
}